.tile{
  display: table-cell;
  width: 60px;
  height: 60px;
  border: 3px solid black ;
  

  

  cursor: pointer;
}

.rtile{

	display: table-cell;
	width:20px;
	height:20px;
	border:1px solid black;


}


@media only screen and (max-width: 768px) {
  
  [class="whole"] {
    width: 50%;
  }
}




