body{

font-family: Tahoma, Verdana;
font-style: thick;
}

#time{

font: sans-serif;
font-style: thick;
font-size: 20px;
}

#result{

  font: sans-serif;
  font-style: thick;
  font-size: 20px;

 
}

.oTile{

    display: table-cell;
  width:60px;
  height:60px;
  border:3px solid black;

}



.tile{

  display: table-cell;
  width: 60px;
  height: 60px;
  border: 3px solid white ;
  

  

  cursor: pointer;
}

.rtile{

	display: table-cell;
	width:20px;
	height:20px;
	border:1px solid black;
}




@media only screen and (max-height: 2000px){

body{

  height: 100vh;
 
}


}




